@font-face {
  font-family: "Lexend Mega";
  src: url("../assets/fonts/LexendMega-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lexend Mega Regular";
  src: url("../assets/fonts/LexendMega-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lexend Mega SemiBold";
  src: url("../assets/fonts/LexendMega-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Lexend Mega Bold";
  src: url("../assets/fonts/LexendMega-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Lexend Mega ExtraBold";
  src: url("../assets/fonts/LexendMega-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
