@use "./fonts" as *;
@use "./varibles" as *;

.davieStHeader {
  text-align: center;
  font-family: "Lexend Mega ExtraBold";
  font-size: 36px;
  padding-top: 36px;
}
.david-container {
  background-color: #7fbc8c;
}

.category-header {
  padding-top: 20px;
}

.custom-modal-dialog .modal-content {
  border: none;
  box-shadow: none;
  background-color: #ff6b6b;
}

.modal-content {
  background-color: #ff6b6b;
}

.custom-modal-dialog .modal-header,
.custom-modal-dialog .modal-body,
.custom-modal-dialog .modal {
  border: 2px solid black;
  box-shadow: 10px 5px 5px black;
  border-radius: 0;
  background-color: #9723c9;
}
