@use "./fonts" as *;
@use "./varibles" as *;

* {
  font-family: "Lexend Mega";
}

.signUp-container {
  background-color: #b5d2ad;
  height: 100vh;
}

.form-wrapper {
  margin-top: 0;
  background-color: #b5d2ad;
  justify-content: center;
  padding-left: 34.5px;
  padding-right: 35.5px;
}

.btn {
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 0;
  background-color: #e3a018;
  color: black;
}

.form-paragraph {
  font-size: 16px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
  margin-bottom: 36px;
}

.form-header {
  padding-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
}

.custom-checkbox .form-check-input[type="checkbox"] {
  border: 2px solid black;
  border-radius: 0;
  background-color: #e3dff2;
}

#inputGroupPrepend {
  background-color: #daf5f0;
}

.custom-input {
  background-color: #e3dff2;
  border-radius: 0;
  border: 2px solid black;
}

.Form.Label {
  font-weight: 700;
}

.custom-label {
  font-weight: bold;
}

.form-wrappe--inner {
  padding-left: 20%;
  padding-right: 20%;
}
